<style>
    #messagearea{
        
        border-style: solid;
        border-width: 5px;
        
    }
    #chat{
        overflow-y: auto;
        height: 400px;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
         color: yellow;
         text-decoration: none;
          }
    a:visited 
    { 	color: blue;
        text-decoration: none;
    }
    
    a:active { 
        color: aqua;
        text-decoration: none;
    }			
</style>
<div id="messagearea" class="row">
    <div class="col-sm-3 col-md-4">
        <div class="card card-body bg-light">
            <h3>Online Users</h3>
            <ul class="list-group" id="users"></ul>
        </div>
        
    </div>
    <div class="col-sm-3 col-md-6">
        <div class="chat" id="chat"></div>

        <form id="messageForm">
            <div class="form-group">
                <label>Enter Message</label>
                <textarea class="form-control" id="message">
                </textarea>
                </br>
                <input type="submit" class="btn btn-primary" value="Send Message" />
            </div>
        </form>
            
    </div>
    <div class="col-md-2">
        
            <h6 class="lead mb-3" id="userid"><%= name %></h6>
            <a href="/users/logout" class="btn btn-primary">Logout</a>
            
        </div>
        
</div>


<script>
    
    $(function () {
			var socket =io.connect();
			var $messageForm=$('#messageForm');
			var $message = $('#message');
			var $chat = $('#chat');
			var $users =$('#users');
			var $messagearea=$('#messagearea');
			var touserid='';
			var $userid=$('#userid');

            var chatusername='';
            chatusername=$userid.text();

            console.log($userid.text());
            socket.emit('new user', $userid.text(),function(data){
					if(data){
						$messagearea.show();
					}
				});

			$messageForm.submit(function(e){
				e.preventDefault();

				var msg=$message.val();
				var touser=touserid;
				var messageid=chatusername+"_"+touserid;
				var dataoutput=[{"MessageID":messageid,"FromID":chatusername,"ToID":touser,"msg":msg}];

				if($message.val()!=''){
					socket.emit('send message', dataoutput);
				}
				$message.val('');

				
					
				$.ajax({
					type: 'POST',
					data: {'data':dataoutput},
					ContentType: 'application/json',
					url: 'http://localhost:3000/message',						
					success: function(data) {
						console.log('success on post');
						console.log(JSON.stringify(data));
					}
				});
			});


			socket.on('new message',function(data){
				var tempdata=JSON.parse(JSON.stringify(data));
				if(tempdata[0].uname==chatusername){
					$chat.append('<div class="card card-body bg-light" align="right">'+'You : '+tempdata[0].msg+'<div>');
				}
				else{
					$chat.append('<div class="card card-body " align="left">'+tempdata[0].uname+' : '+tempdata[0].msg+'<div>');
				}				
			});

			socket.on('get users',function(data){
				var html='';
				for(var i=0;i<data.length;i++){
					html+='<li class="list-group-item" id="'+i+'"><a href="#">'+data[i]+'</a></li>';
				}
				//console.log(data);
				$users.html(html);
			});

			/*$($users).click(function(e) 
			{ 
			//alert($(this).find("li.i").text());
			console.log($(this).text());
			console.log($(this).id);
			});*/

			$users.on("click",".list-group-item",function(e){
				e.preventDefault();
				//console.log($(this).text());
				//console.log(e.target.id);

				touserid=$(this).text();
				console.log(touserid);

				var messageid1=chatusername+"_"+touserid;
				var messageid2=touserid+"_"+chatusername;
				var sendjson=[{"MessageID1":messageid1,"MessageID2":messageid2,"FromID":chatusername,"ToID":touserid}];
				var messagehistory="";

				$.ajax({
					type: 'POST',
					data:{'data':sendjson},
					ContentType: 'application/json',
					url: 'http://localhost:3000/sendmessage',						
					success: function(data) {
						console.log('success on get');
						console.log(JSON.stringify(data));
						messagehistory=data;
						console.log(messagehistory.length);
						var html='';
						$chat.empty();
						for(var i=0;i<messagehistory.length;i++){
							if(messagehistory[i].FromID==chatusername && messagehistory[i].ToID==touserid){
								$chat.append('<div class="card card-body bg-light" align="right">'+'You : '+messagehistory[i].Message+'<div>');
							}
							else if(messagehistory[i].FromID==touserid && messagehistory[i].ToID==chatusername){
								$chat.append('<div class="card card-body " align="left">'+messagehistory[i].FromID+' : '+messagehistory[i].Message+'<div>');
							}
						}
						
					}
				});

				
				
			});
			

			

		});
</script>
